@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika&display=swap');

html{
  background: linear-gradient(rgb(21, 26, 26), rgb(9, 11, 11));
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  
}

.LoginPage {
  color: white;
}

.Title {
  text-align: center;
}

.FormContainer{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.InputWrapper{
  flex-direction: row;
  flex: 1;

}

input {
  flex: 1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  min-width: 300px;
  padding-bottom: 10px;
}

.buttonWrapper{
  text-align: center;
}

button{
  background:#2fccfc;
  color: white;
  border: none;
  margin-top: 40px;
  padding: 15px 40px 15px 40px;
  font-size: 20px;
  font-weight: 100;
  border-radius: 4px;
}

.ErrorMessage{
  color: #bf1650;
}

.ErrorMessage::before {
  display: inline;
  content: "⚠ ";
}

.ErrorMessage::after {
  display: inline;
  content: " ⚠";
}

.todoPage{
  color: white;
  size: 50px;
}


